h1,p{
    font-family: ss;
    background-color: blanchedalmond;
    font-size: 60px;
    text-align: center;
    color: blue;
}
@font-face {
    font-family: ss;
    src: url("AirtravelerspersonaluseBdit-gxgyE.otf");
}